[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"
flask-pymongo = "*"
pyyaml = "*"
pandas = "*"
xlrd = "*"
pendulum = "*"

[dev-packages]

[requires]
python_version = "3.6"
